.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: radial-gradient(
        circle,
        #1c1c1c,
        #181818,
        #151515,
        #101010,
        #0b0b0b
    );
    overflow: hidden;
}

.maxi-photo {
    position: absolute;
    bottom: 0;
    left: calc(50% - 600px);
    width: 600px;
    height: 90%;
    background-image: url("../../Static/Images/djmaxi.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 5;
}

.title-container {
    font-family: Alien;
    position: absolute;
    width: calc(100% - 170px);
    left: 170px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 820px;
    line-height: 280px;
    letter-spacing: -230px;
}

.title-container div {
    width: 650px;
    background-image: url("../../Static/Images/loop.gif");
    background-size: cover;
    -webkit-background-clip: text;
    color: rgba(255, 255, 255, 0.15);
    background-clip: text;
}

.about {
    background: #cecece;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    color: #1c1c1c;
}

.about-title {
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 40px;
}

.about .about-text-and-btn {
    display: flex;
    flex-direction: column;
    margin-right: 110px;
}

.about .text {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 600px;
    line-height: 40px;
    font-style: italic;
}

.about .maxy-img {
    background-image: url("../../Static/Images/maxy_aboutme.jpg");
    height: 350px;
    width: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
}

.social-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    justify-content: center;
    left: 60px;
}

.language-selector-container {
    position: absolute;
    right: 60px;
    bottom: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

.events {
    height: 500px;
    background-color: #212121;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.events .text {
    z-index: 10;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}

.events .party-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../Static/Images/party.jpg");
    opacity: 0.1;
    background-attachment: fixed;
}

.events .text .title {
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 40px;
}

.events .text .description {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 40px;
    max-width: 800px;
    font-style: italic;
}

.tech {
    position: relative;
}

.carousel-item {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 470px;
    align-items: center;
    background-image: radial-gradient(
        circle,
        #f6f6f6,
        #eeeeee,
        #e7e7e7,
        #dfdfdf,
        #d8d8d8
    );
    transform: translateZ(0);
}

.arrow-contrainer {
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.arrow-contrainer.left {
    left: 0;
}

.arrow-contrainer.right {
    right: 0;
}

.carousel-item .img-container {
    height: 100%;
    z-index: 5;
}

.carousel-item img {
    height: calc(100% - 120px);
    margin: 35px 0 60px;
}

.carousel-item .text-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #818181;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 15px 0;
    text-transform: uppercase;
    font-size: 18px;
}
