.navigation {
    text-align: center;
    position: fixed;
    width: calc(100% - 106px);
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 50;
    justify-content: space-between;
    padding: 0 46px 0 60px;
    color: #ff626f;
    font-size: 14px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
}

.name-and-avatar-container {
    display: flex;
    align-items: center;
    text-align: left;
}

.name {
    font-family: Alien;
    font-size: 32px;
    letter-spacing: -5px;
}

.name-and-avatar-container .name span:first-of-type {
    color: rgba(255, 255, 255, 0.75);
}

.sections {
    display: flex;
}

.sections a {
    text-decoration: none;
}

.service-name {
    padding-left: 2px;
    color: white;
    opacity: 0.4;
}
