.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: radial-gradient(
        circle,
        #1c1c1c,
        #181818,
        #151515,
        #101010,
        #0b0b0b
    );
    overflow: hidden;
}

.maxi-photo {
    position: absolute;
    bottom: 0;
    left: calc(50% - 600px);
    width: 600px;
    height: 90%;
    background-image: url("../../Static/Images/djmaxi.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 5;
}

.title-container {
    font-family: Alien;
    position: absolute;
    width: calc(100% - 170px);
    left: 170px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 820px;
    line-height: 280px;
    letter-spacing: -230px;
}

.title-container div {
    width: 650px;
    background-image: url("../../Static/Images/loop.gif");
    background-size: cover;
    color: rgba(255, 255, 255, 0.15);
    -webkit-background-clip: text;
    background-clip: text;
}

.about {
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
}

.about .text {
    width: 1000px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    text-align: center;
    padding-bottom: 60px;
}

.social-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    justify-content: center;
    left: 60px;
}

.language-selector-container {
    position: absolute;
    right: 60px;
    bottom: 0;
    height: 80px;
    display: flex;
    align-items: center;
}